- breadcrumb :user_edit, @user
= render "layouts/breadcrumbs"
.user-wrap
  = render 'users/header'
  #account-page.account-page
    .account-page__inner
      .account-page__inner--left.account-page__header    
        %h2 設定
        %h5 登録情報の編集
      .account-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: edit_registration_path(resource_name), html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            .field-label
              = f.label 'ユーザー名'
            .field-input
              = f.text_field :name, placeholder: @user.name
          .field
            .field-label
              = f.label '自己紹介'
            .field-input
              = f.text_area :introduction, placeholder: @user.introduction, class: 'text-area'
          .field
            .field-label
              = f.label '背景画像'
            .field-input
              = f.file_field :cover_image, value: @user.cover_image.filename, class: 'cover-img', id: 'user-cover-img'
              .user-cover
                = user_cover_image_present?(@user)
          .field
            .field-label
              = f.label 'メールアドレス'
            .field-input
              = f.email_field :email, autocomplete: "email"
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .field
            .field-label
              = f.label '新しいパスワード'
            .field-input
              = f.password_field :password, autocomplete: "new-password"
          .field
            .field-label
              = f.label '新しいパスワード(確認)'
            .field-input
              = f.password_field :password_confirmation, autocomplete: "new-password"
          .field
            .field-label
              = f.label '現在のパスワード'
            .field-input
              = f.password_field :current_password, autocomplete: "current-password"
          .actions
            = f.submit "更新", class: 'btn'
