.modal-wrapper
  #target_msg_box.modal-box
    .modal-inner
      %span 保存しました！
.shop-header
  .info-wrap
    .shop-controller
      .shop-name
        = @shop.name
      - if user_signed_in? && current_user.admin == true
        .shop-edit
          = link_to '編集', edit_shop_path(@shop.id)
    .shop-top-info
      .shop-top-info__rate
        %div{ id: "star-rate-#{@shop.id}", class: 'star-rating'}
        .shop-rating
          = @shop.woms.average(:rate).to_f.round(2)
        :javascript
          $('#star-rate-#{@shop.id}').raty({
            size: 36,
            starOff: "#{asset_path('star-off.png')}",
            starOn: "#{asset_path('star-on.png')}",
            starHalf: "#{asset_path('star-half.png')}",
            half: true,
            readOnly: true,
            score: "#{@shop.woms.average(:rate).to_f.round(2)}",
          });
      .shop-top-info__woms
        = link_to(shop_woms_path(@shop.id)) do
          %i.fas.fa-comment-dots<>
          = "#{@woms.where.not(rate: nil).count} 件"
      .shop-top-info__bookmarks
        %i.fas.fa-bookmark.fa-lg<>
        = "#{@clips.count} 件"
    .shop-bottom-info
      %span エリア：
      = link_to(@shop.area.name, shops_searches_path(area_id: @shop.area.id), class: 'shop-bottom-info-show')
      %span ジャンル：
      .shop-genre
        %ul.genre-list
          - @shop.get_genres.each do |genre|
            %li
              = link_to(genre.name, shops_searches_path(genre_id: genre.id), class: 'shop-bottom-info-show')
  .action-wrap
    - if user_signed_in?
      %div{ id: "woms-count-#{@shop.show_user_woms(current_user)}", class: "action-btn wom-post-btn" }
        = link_to(new_shop_wom_path(@shop.id), class: 'action-link') do
          %i.fas.fa-user-check.fa-lg
          - if @shop.show_user_woms(current_user) != 0
            %span= @shop.show_user_woms(current_user)
          %span.action-name 行った
      - if @clip.present?
        #clip-count-1.action-btn.bookmark-btn
          = link_to(user_clip_path(current_user, @clip, shop_id: @shop.id), method: :delete, class: 'action-link', id: 'clip-delete') do
            %i.fas.fa-bookmark.fa-lg
            %span.action-name 保存
      - else
        #clip-count-0.action-btn.bookmark-btn
          = link_to('', method: :post, class: 'action-link', id: 'clip-post') do
            %i.fas.fa-bookmark.fa-lg
            %span.action-name 保存
            %input{name: 'clip-path', type: 'hidden', value: current_user.id, class: 'clip-path'}
            %input{name: 'shop-id', type: 'hidden', value: @shop.id, class: 'shop-id'}
    - else
      #woms-count-0.action-btn
        = link_to(new_user_session_path, class: 'action-link') do
          %i.fas.fa-user-check.fa-lg
          %span.action-name 行った
      #clip-count-0.action-btn
        = link_to(new_user_session_path, class: 'action-link') do
          %i.fas.fa-bookmark.fa-lg
          %span.action-name 保存