.shop-list
  - shops.each do |shop|
    .shop
      = link_to shop_path(shop.id) do
        .top-info
          .top-info__name
            = shop.name
          .top-info__area-genre
            -# = "#{shop.area.name} ／ #{shop.genre.name}"
          .top-info__action
            .action-icon.action-icon-left
              %i.fas.fa-user-check.fa-lg
            .action-icon
              %i.fas.fa-bookmark.fa-lg
        .bottom-info
          .bottom-info-left
            .bottom-info-left__top-cover
              = image_tag shop.image.url, alt: 'no image', class: 'top-cover-img'
            %ul.bottom-info-left__items
              %li.cover-item
                = image_tag shop.image.url, alt: 'no image', class: 'cover-item-img'
              %li.cover-item
                = image_tag shop.image.url, alt: 'no image', class: 'cover-item-img'
              %li.cover-item
                = image_tag shop.image.url, alt: 'no image', class: 'cover-item-img'
              %li.cover-item
                = image_tag shop.image.url, alt: 'no image', class: 'cover-item-img'
          .bottom-info-right
            .bottom-info-right__overview
              = shop.outline
            .bottom-info-right__rating
              .shop-star-rating
                .empty-star
                  ★★★★★
                .filled-star
                  ★★★★★
              .shop-rating
                3.52
              .shop-wom-count
                %i.fas.fa-comment-dots<>
                12件
            .bottom-info-right__top-wom
              .wom-info
                .wom-info__title
                  買取査定が非常に良心的
                .wom-info__user
                  by 古着大好きマン
              .wom-content
                初めて買取をしてもらったが、ヨウジやマルジェラなど、相場以上で買い取ってくだ…