- breadcrumb :shops
= render "layouts/breadcrumbs"
= render "shops/searched_heading"
.shop-paginate
  = will_paginate @shops, renderer: BootstrapPagination::Rails
= render 'shop', shops: @shops
.shop-paginate
  = will_paginate @shops, renderer: BootstrapPagination::Rails