- breadcrumb :search_shops, @keyword
= render "layouts/breadcrumbs"
= render "shops/searched_heading"
.shop-paginate
  = will_paginate @shops, renderer: WillPaginate::ActionView::LinkRenderer
= render "shops/shop", shops: @shops
.shop-paginate
  = will_paginate @shops, renderer: WillPaginate::ActionView::LinkRenderer