- breadcrumb :show_shop, @shop
= render "layouts/breadcrumbs"
= render "modal"
.shop-wrapper
  = render "header"
  .shop-body
    %ul.shop-menu-bar
      %li.selected-menu
        = link_to '店舗トップ', shop_path(@shop.id)
      %li.shop-menu
        取扱商品
      %li.shop-menu
        = link_to '口コミ', shop_woms_path(@shop.id)
      %li.shop-menu
        地図
    .shop-content
      .shop-content__top
        = image_tag @shop.image.url, class: 'shop-img'
        = @shop.outline
      .shop-content__items
      .shop-content__woms
      .shop-content__map