- breadcrumb :shop_woms, @shop
= render "layouts/breadcrumbs"
= render "shops/modal"
.shop-wrapper
  = render "shops/header"
  .shop-body
    %ul.shop-menu-bar
      %li.shop-menu
        = link_to(shop_path(@shop.id), class: 'shop-menu-link') do
          %span.shop-menu-name 店舗トップ
      %li.shop-menu
        = link_to('#', class: 'shop-menu-link') do
          %span.shop-menu-name 取扱商品
      %li.shop-menu#selected-menu
        = link_to(shop_woms_path(@shop.id), class: 'shop-menu-link') do
          %span.shop-menu-name 口コミ
      %li.shop-menu
        = link_to('#', class: 'shop-menu-link') do
          %span.shop-menu-name 地図
    .shop-content
      = render 'woms/woms', woms: @woms