.shop-list
  - clips.each do |clip|
    .shop
      = link_to shop_path(clip.shop_id) do
        .top-info
          .top-info__name
            = clip.shop.name
          .top-info__area-genre
            = "#{clip.shop.area.name} ／ #{clip.shop.show_genres}"
          .top-info__action
            .action-icon.action-icon-left
              %i{ class: "fas fa-user-check fa-lg user-count-#{clip.shop.show_user_woms(current_user)}"}
              - if clip.shop.show_user_woms(current_user) != 0 && user_signed_in?
                %span= clip.shop.show_user_woms(current_user)
            .action-icon
              %i.fas.fa-bookmark.fa-lg
        .bottom-info
          .bottom-info-left
            .bottom-info-left__top-cover
              = image_tag clip.shop.image, alt: 'no image', class: 'top-cover-img'
            -# %ul.bottom-info-left__items
            -#   %li.cover-item
            -#     = image_tag clip.shop.image.url, alt: 'no image', class: 'cover-item-img'
            -#   %li.cover-item
            -#     = image_tag clip.shop.image.url, alt: 'no image', class: 'cover-item-img'
            -#   %li.cover-item
            -#     = image_tag clip.shop.image.url, alt: 'no image', class: 'cover-item-img'
            -#   %li.cover-item
            -#     = image_tag clip.shop.image.url, alt: 'no image', class: 'cover-item-img'
          .bottom-info-right
            .bottom-info-right__overview
              = clip.shop.outline
            .bottom-info-right__rating
              %div{ id: "star-rate-#{clip.shop_id}", class: 'star-rating'}
              .shop-rating
                = clip.shop.woms.average(:rate).to_f.round(2)
              :javascript
                $('#star-rate-#{clip.shop_id}').raty({
                  size: 40,
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: "#{clip.shop.woms.average(:rate).to_f.round(2)}",
                });
              .shop-wom-count
                %i.fas.fa-comment-dots<>
                = "#{clip.shop.woms.where.not(rate: nil).count}件"
            .bottom-info-right__top-wom
              .wom-info
                .wom-info__title
                  = last_wom_title(clip.shop)
                .wom-info__user
                  = "by #{last_wom_user(clip.shop)}"
              .wom-content
                = last_wom_content(clip.shop)