.top-main
  .search-area
    %h2.search-area__title
      %span エリアから探す
    .search-area__area
      .selected-area
        .selected-area__name
          %span 東京
        .selected-area__store-count
          %span= "#{@shops.count}件"
      %ul.top-areas
        - @top_areas.each do |top_area|
          %li.top-area
            = link_to(shops_searches_path(area_id: top_area.id), class: 'top-area-link') do
              .top-area-box
                %span.top-area-name= top_area.name
                %span.top-area-shop-count= "#{top_area.shops.count}件"
      %ul.area-list.clearfix
        - @areas.each do |area|
          %li.all-area
            = link_to(shops_searches_path(area_id: area.id), class: 'area-link') do
              %span= area.name
  .search-genre
    %h2.search-genre__title
      %span ジャンルから探す
    .search-genre__area
      %ul.top-genres
        - @top_genres.each do |top_genre|
          %li.top-genre
            = link_to(shops_searches_path(genre_id: top_genre.id), class: 'top-genre-link') do
              = image_tag top_genre.image, class: 'top-genre__img'
              .top-genre__name
                %span= top_genre.name
              .top-genre__store-count
                %span= "#{top_genre.shops.count}件"
      %ul.genre-list.clearfix
        - @genres.each do |genre|
          %li.all-genre
            = link_to(shops_searches_path(genre_id: genre.id), class: 'genre-link') do
              %span= genre.name
    .search-genre__all
      -# = link_to 'ジャンル一覧へ', genres_path, class: 'genre-all-link'
  .search-brand
    %h2.search-brand__title
      %span ブランドから探す
    .search-brand__area
      %ul.top-brands
        - @top_brands.each do |top_brand|
          %li.top-brand
            = link_to(shops_searches_path(brand_id: top_brand.id), class: 'top-brand-link') do
              = image_tag asset_path(top_brand.image), class: 'top-brand__img'
      %ul.brand-list.clearfix
        - @brands.each do |brand|
          %li.all-brand
            = link_to(shops_searches_path(brand_id: brand.id), class: 'brand-link') do
              %span= brand.name
    .search-brand__all
      -# = link_to 'ブランド一覧へ', brands_path, class: 'brand-all-link'

