.top-side
  .data-count-container
    %ul.data-counts
      %li.data-count
        .data-count__store
          %span= @shops.count
        .data-count__unit
          %span 店舗
      %li.data-count.data-count-right
        .data-count__wom
          %span= @woms.count
        .data-count__unit
          %span 口コミ
  .user-info-container
    - if user_signed_in?
      .top-container.user-info
        .user-top-info
          = link_to user_path(current_user), class: 'user-link' do
            .user-top-info__user-icon
              = user_image_present?(current_user)
            .user-top-info__user-name
              %span= "#{current_user.name} さん"
        %ul.user-action-data
          %li.act-data
            .act-data__store
              = link_to '行ったお店', user_histories_path(current_user)
            .act-data__store-count
              %span= current_user.histories.count
          %li.act-data
            .act-data__bookmark
              = link_to '保存したお店', user_clips_path(current_user)
            .act-data__bookmark-count
              %span= current_user.clips.count
        
      .user-bookmark-store
        %h4.user-bookmark-store__title 保存したお店
        %ul.bookmark-stores
          - current_user.clips.each do |clip|
            %li.bookmark-store
              = link_to(shop_path(clip.shop_id), class: 'clip-shop-link') do
                = clip_image_present?(clip.shop)
                .clip-shop-data
                  .clip-shop-data__name
                    %span.on-dec= clip.shop.name
                  .clip-shop-data__tag
                    %span= clip.shop.area.name
                  .clip-shop-data__rate
                    %span{ id: "star-rate-#{clip.shop_id}", class: 'star-rating'}
                    %span= clip.shop.woms.average(:rate).to_f.round(2)
                  :javascript
                    $('#star-rate-#{clip.shop_id}').raty({
                      size: 36,
                      starOff: "#{asset_path('star-off.png')}",
                      starOn: "#{asset_path('star-on.png')}",
                      starHalf: "#{asset_path('star-half.png')}",
                      half: true,
                      readOnly: true,
                      score: "#{clip.shop.woms.average(:rate).to_f.round(2)}",
                    });
        .user-boookmark-list
          = link_to '保存したお店一覧へ', user_clips_path(current_user), class: "bookmark-list-link"
    - else
      .top-container
        %h2 新規会員登録
        .explain-login
          %span ログインすると、古着navi上でお店を保存したり、行ったお店を管理できるようになります。
        .sign-up-box
          = link_to '会員登録', new_user_registration_path, class: 'link-btn'
