!!!
%html
  = render partial: 'layouts/head'
  %body
    .home-main
      .home-wrapper
        .home-header
          .home-header-content
            .home-header-top
              .top-app-icon-box
                = image_tag asset_path('full-colle-icon--white.png'), id: 'top-icon'
              .menu
                %ul.menu-list
                  -if user_signed_in?
                    -if current_user.admin == true
                      %li.menu-option
                        = link_to '新規店舗登録', new_shop_path
                    %li.menu-option
                      = link_to '行った古着屋', user_histories_path(current_user)
                    %li.menu-option
                      = link_to '保存済み', user_shops_path(current_user)              
                    %li.menu-option
                      = link_to 'マイページ', user_path(current_user)
                    %li.menu-option.user-nav.js-user-nav
                      = user_icon_present?(current_user)
                      %ul.user-nav-popup
                        %li.user-nav-option
                          = link_to(edit_user_registration_path, class: 'option-link')do
                            %span.option-link-name 設定
                        %li.user-nav-option
                          = link_to(destroy_user_session_path, method: :delete, class: 'option-link')do
                            %span.option-link-name ログアウト
                  - else
                    %li.menu-option
                      = link_to '行った古着屋', new_user_session_path
                    %li.menu-option
                      = link_to '保存済み', new_user_session_path
                    %li.menu-option
                      = link_to 'ログイン', new_user_session_path
            .top-message-box
              %h1 古着屋探しは「古コレ」
            .search-form
              .form-explanation
                %h2 エリア・キーワードから探す
              .search-box
                = form_tag(shops_searches_path, method: :get) do
                  = text_field_tag :area, "", placeholder: "エリア[例：下北沢]", autocomplete: :off, class: "search-box__content left-content", id: 'area-search-field'
                  = text_field_tag :keyword, "", placeholder: "キーワード[例：yohji yamamoto]", autocomplete: :off, class: "search-box__content", id: 'keyword-field'
                  = button_tag '検 索', type: 'submit', class: 'search-box__submit', id: 'search-submit-btn'
            #search-result
              .candidate-list
        .top-wrapper
          = render "tops/search_content"
          = render "tops/side_bar"

        = render 'shared/footer'