- breadcrumb :user, @user
= render "layouts/breadcrumbs"

.user-wrap
  = render 'header'
  .user-body
    .user-self-intro
      %span= @user.introduction
    %ul.user-action-info
      %li.user-action-wrap
        .title
          %span 口コミ数
        .woms
          %span= "#{@user.woms.count}件"
      %li.user-action-wrap
        .title
          %span 行ったお店
        .histories
          %span= "#{@user.histories.count}件"
      %li.user-action-wrap
        .title
          %span 保存したお店
        .clips
          %span= "#{@user.clips.count}件"
