#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 パスワードの再発行
      %h5 登録しているメールアドレスを入力してください。
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :email, "メールアドレス"
          .field-input
            = f.email_field :email, autofocus: true, autocomplete: "email"
        .actions
          = f.submit "パスワード再設定メールを送信", class: 'btn'
