.footer
  .footer-wrap
    .footer-wrap__top
      %ul.languege-list
        %li.languege-title
          言語 ：
        %li.languege
          = link_to 'English', readies_path
        %li.languege
          = link_to '简体中文', readies_path
        %li.languege
          = link_to '繁体中文', readies_path
        %li.languege        
          = link_to '한국어', readies_path
    .footer-wrap__bottom
      .servise-icon-box
        = image_tag asset_path('full-colle-icon--black.png'), id: 'footer-icon'
      .sitemap
        .sitemap__link.first-link
          = link_to 'プライバシーポリシー', "https://www.masato-tanaka.tech/privacy.html"
        .sitemap__link
          = link_to 'お問い合わせ', "mailto:t68.tanaka.masato@gmail.com"
        .sitemap__link
          = link_to "https://twitter.com/sew_sou19" do
            %i.fab.fa-twitter<>
            %span 作者Twitter
      .copylight
        %span Copyright ©︎ sew_sou19 All Rights Reserved.