.header
  .header__border
    .header-wrapper
      .header-wrapper__top
        .page-name
        .menu
          -if user_signed_in?
            %ul.menu-list
              -if current_user.admin == true
                %li.menu-option
                  = link_to '新規店舗登録', new_shop_path
              %li.menu-option
                = link_to '行ったお店', user_histories_path(current_user)
              %li.menu-option
                = link_to '保存済み', user_clips_path(current_user)
              %li.menu-option
                = link_to 'マイページ', user_path(current_user)
            .user-nav.js-user-nav
              = user_icon_present?(current_user)
              %ul.user-nav-popup
                %li.user-nav-option
                  = link_to(edit_user_registration_path, class: 'option-link') do
                    %span.option-link-name 設定
                %li.user-nav-option
                  = link_to(destroy_user_session_path, method: :delete, class: 'option-link') do
                    %span.option-link-name ログアウト
          - else
            %ul.menu-list
              %li.menu-option
                = link_to '行ったお店', new_user_session_path
              %li.menu-option
                = link_to '保存済み', new_user_session_path
              %li.menu-option
                = link_to 'ログイン', new_user_session_path
      .header-wrapper__bottom
        .search-form
          #app-icon-box
            = link_to root_path do
              = image_tag asset_path('full-colle-icon--black.png'), id: 'header-icon'
          .search-box
            = search_form_for(@q, url: shops_search_path) do |f|
              .search-container
                = f.text_field :area_name_cont, placeholder: 'エリア[例：下北沢]', autocomplete: :off, value: @area_keyword, class: 'search-content search-container__area', id: 'area-search-field-hd' 
                = f.text_field :name_or_outline_or_brands_name_or_genres_name_cont, placeholder: 'キーワード[例：yohji yamamoto]', value: @searched_word, autocomplete: :off, class: 'search-content search-container__keyword', id: 'keyword-field-hd'
                = button_tag type: 'submit', class: 'search-container__submit', id: 'search-submit-btn-hd' do
                  %i.fas.fa-search.fa-2x
      #search-result-hd
        .candidate-list