.woms-paginate
  .woms-count
    %i 全
    %i.num= "#{@all_woms.count}"
    %i 件
  = will_paginate woms, renderer: WillPaginate::ActionView::LinkRenderer
.woms-list
  - woms.each do |wom|
    .woms-box
      .woms-box__wom-info
        .user-info
          = user_image_present?(wom.user)
          .user-name
            = link_to user_path(wom.user.id), class: 'user-link' do
              = "#{wom.user.name} さん"
            %span の口コミ
        - if user_signed_in? && wom.user_id == current_user.id
          .user-action
            = link_to '編集', edit_shop_wom_path(wom.shop_id, wom.id)
            = link_to '削除', shop_wom_path(wom.shop_id, wom.id), method: :delete, id: 'item-delete-btn', data: {confirm: "削除しますか？"} 
      .woms-box__rate
        .rate-container
          .visit_type
            = visit_type(wom)
            = wom.visit_type
          %div{ id: "star-rate-wom-#{wom.id}", class: "star-rating"}
          .wom-rate
            = wom.rate
          :javascript
            $("#star-rate-wom-#{wom.id}").raty({
              size: 36,
              starOff: "#{asset_path('star-off.png')}",
              starOn: "#{asset_path('star-on.png')}",
              starHalf: "#{asset_path('star-half.png')}", 
              half: true,
              readOnly: true,
              score: "#{wom.rate}",
            });
      .woms-box__body
        .content-visit-date
          %span= wom_visit_date(wom)
        .content-title
          %span= wom.title
        .content-text<>
          %span= wom.content