.woms-list
  - woms.each do |wom|
    .woms-box
      .woms-box__wom-info
        .user-info
          = user_image_present?(wom.user)
          .user-name
            %span= "#{wom.user.name} さんの口コミ"
        - if wom.user_id == current_user.id && user_signed_in?
          .user-action
            = link_to '編集', edit_shop_wom_path(wom.shop_id, wom.id)
            = link_to '削除', shop_wom_path(wom.shop_id, wom.id), method: :delete, id: 'item-delete-btn'
      .woms-box__rate
        .rate-container
          .visit_type
            = visit_type(wom)
            = wom.visit_type
          %div{ id: "star-rate-#{wom.id}", class: "star-rating"}
          .wom-rate
            = wom.rate
          :javascript
            $("#star-rate-#{wom.id}").raty({
              size: 36,
              starOff: "#{asset_path('star-off.png')}",
              starOn: "#{asset_path('star-on.png')}",
              starHalf: "#{asset_path('star-half.png')}", 
              half: true,
              readOnly: true,
              score: "#{wom.rate}",
            });
      .woms-box__body
        .content-visit-date
          = wom_visit_date(wom)
        .content-title
          = wom.title
        .content-text
          = wom.content